h1= title
p Received data will appear below:

div
  pre#receivedDataPre.receivedDataStyle Waiting for data...

script(src='/socket.io/socket.io.js')
script(type='text/javascript')
  var socket = io.connect('http://localhost');
  socket.on('newData', function (data) {
    var receivedDataPre = document.getElementById('receivedDataPre');
    receivedDataPre.innerHTML = data;
  });